### JAVA ###
# 忽略所有toutput目录下的所有文件
**/output/
/output
# 但不要忽略任何目录下的源码和测试源码文件
!**/src/main/**
!**/src/test/**

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
# 忽略所有目录下的.mvn目录下的所有文件
/**/.mvn
/**/*.md
/**/mvnw
/**/.cmd
/**/mvnw.cmd
/**/.gitignore
# 但不要忽略当前目录下的gitignore文件
!/.gitignore
